@use '../styles/theme-light' as light;
@use '../styles/theme-dark' as dark;
@use '../styles/fonts' as fonts;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: bold;

  body.light & {
    color: light.$color-primary;
  }
  body.dark & {
    color: dark.$dark-color-primary;
  }

  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;

  body.light & {
    color: light.$color-secondary;
  }
  body.dark & {
    color: dark.$dark-color-secondary;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}
