@use "../styles/theme-light" as light;
@use "../styles/theme-dark" as dark;
@use "../styles/fonts" as fonts;

.wrapper {
  padding: 2rem;
  border-radius: 12px;
  font-size: 1.5rem;
  line-height: 1.1;

  h2 {
    font-family: fonts.$font-family-heading;
    font-size: 2.1rem;
    color: light.$color-heading; // по умолчанию светлая тема
    text-align: center;
    margin-bottom: 3rem;

    :global(body.dark) & {
      color: dark.$dark-color-heading;
    }

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }
}

.infoWrapper {
  display: flex;
  align-items: flex-start;
  gap: 3rem;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.photo {
  flex: 0 0 300px;
  height: 400px;
  border-radius: 1.5rem;
  background-image: url("/public/cat-removebg-preview.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.03);
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    border: 2px solid light.$color-border;
    border-radius: 1.5rem;

    :global(body.dark) & {
      border-color: dark.$dark-color-border;
    }
  }

  &::after {
    content: "В.Карпич";
    position: absolute;
    bottom: -2rem;
    right: 0;
    font-family: fonts.$font-cloud-words;
    font-size: 1.5rem;
    opacity: 0.6;
    z-index: 99999;
    color: light.$color-text;

    :global(body.dark) & {
      color: dark.$dark-color-text;
    }
  }

  @media (max-width: 768px) {
    width: 80%;
    height: 300px;
  }
}

.info {
  flex: 1;
  position: relative;
  padding-left: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background-color: light.$color-primary;

    :global(body.dark) & {
      background-color: dark.$dark-color-primary;
    }
  }

  article {
    font-family: fonts.$font-family-base;
    color: light.$color-text;

     :global(body.dark) &  {
      color: dark.$dark-color-text;
    }

    font-size: 1.1rem;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    p + p {
      margin-top: 1.5rem;

      @media (max-width: 768px) {
        margin-top: 1.1rem;
      }
    }
  }
}
