@use "../styles/theme-light" as light;
@use "../styles/theme-dark" as dark;
@use "../styles/fonts" as fonts;

.wrapper {
  width: 100%;


  h2 {
    color: light.$color-heading;

    :global(body.dark) & {
      color: dark.$dark-color-heading;
    }

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;


  @media (max-width: 992px) {
    display: none;
  }
}

.accordionGrid {
  display: none;

  @media (max-width: 992px) {
    display: block;

    details {
      margin-bottom: 1rem;

      summary {
        cursor: pointer;
        font-weight: bold;
        padding: 1rem;
        background-color: light.$color-background;
        border-radius: 0.5rem;

        :global(body.dark) & {
          background-color: dark.$dark-color-background;
          color: dark.$dark-color-text;
        }
      }

      p {
        margin-top: 0.5rem;
        padding: 0 1rem;
        color: light.$color-text;

        :global(body.dark) & {
          color: dark.$dark-color-text;
        }
      }
    }
  }
}

.category {
  flex: 1;
  background-color: light.$color-accent-light;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;

  :global(body.dark) & {
    background-color: dark.$dark-color-accent-light;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  h3 {
    font-family: fonts.$font-family-heading;
    font-size: 1.1rem;
    color: light.$color-primary;
    margin-bottom: 1rem;
    position: relative;

    body.dark & {
      background-color: dark.$dark-color-primary;

      color: dark.$dark-color-text;
    }
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background-color: light.$color-primary;
      border-radius: 2px;
      margin-top: 0.5rem;

      body.dark & {
        background-color: dark.$dark-color-primary;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      font-family: fonts.$font-family-base;
      color: light.$color-text;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      position: relative;

      :global(body.dark) &  {
        color: dark.$dark-color-text;
      }

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: light.$color-secondary;

        body.dark & {
          color: dark.$dark-color-secondary; // добавить в dark тему
        }
      }
    }
  }
}
