@use "../styles/theme-light" as light;
@use "../styles/theme-dark" as dark;
@use "../styles/fonts" as fonts;

.footer {
  padding: 2rem 1rem;
  font-family: fonts.$font-family-base;

  :global(body.light) & {
    background-color: light.$color-surface;
    color: light.$color-text;
  }

  :global(body.dark) & {
    background-color: dark.$dark-color-surface;
    color: dark.$dark-color-text;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    a {
      color: light.$color-text;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      :global(body.dark) & {
        color: dark.$dark-color-text;
      }

      &:hover {
        text-decoration: underline;
      }

      svg {
        font-size: 1.2rem;
        color: light.$color-text;

        :global(body.dark) & {
          color: dark.$dark-color-text;
        }
      }
    }

    p {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .bottomInfo {
    margin-top: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;

    :global(body.light) & {
      color: light.$color-text;
    }

    :global(body.dark) & {
      color: dark.$dark-color-text;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
    }
  }
}