@use "../styles/theme-light" as light;
@use "../styles/theme-dark" as dark;
@use "../styles/fonts" as fonts;

.header {
  width: 100%;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

:global(body.light) & {
    background-color: light.$color-surface;
  }

  :global(body.dark) & {
    background-color: dark.$dark-color-surface;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      z-index: 9999;

     :global(body.light) & {
    background-color: light.$color-surface;
      }

      :global(body.dark) & {
        background-color: dark.$dark-color-surface;
      }

      &.open {
        max-height: 500px;
      }
    }
  }
}

/* links */

.link {
  font-family: fonts.$font-family-base;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  padding: 0.3rem 0;
  transition: color 0.3s;

  :global(body.light) & {
    color: light.$color-text;
  }

  :global(body.dark) & {
    color: dark.$dark-color-text;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;

:global(body.light) & {
      background-color: light.$color-primary;
    }

    :global(body.dark) & {
      background-color: dark.$dark-color-primary;
    }
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
   :global(body.light) & {
      color: light.$color-primary;
    }

    :global(body.dark) & {
      color: dark.$dark-color-primary;
    }
  }

  @media (max-width: 768px) {
    color: white;

    &.active {
   :global(body.light) & {
        color: light.$color-primary;
      }
      :global(body.dark) & {
        color: dark.$dark-color-primary;
      }
    }
  }
}

.active {
  :global(body.light) & {
    color: light.$color-secondary;
    border-bottom: 2px solid light.$color-secondary;
  }

  :global(body.dark) & {
    color: dark.$dark-color-secondary;
    border-bottom: 2px solid dark.$dark-color-secondary;
  }

  &::after {
    width: 100%;
  }
}

/* language switcher */

.languageSwitcher {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;

  button {
    background: transparent;
    border: none;
    font-family: fonts.$font-family-base;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    transition:
      color 0.3s ease,
      border-bottom 0.3s ease;

 :global(body.light) & {
      color: light.$color-text;
    }

    :global(body.dark) & {
      color: dark.$dark-color-text;
    }

    &:hover {
     :global(body.light) & {
        color: light.$color-primary;
      }
     :global(body.dark) & {
        color: dark.$dark-color-primary;
      }
    }

    &.active {
      :global(body.light) & {
        color: light.$color-primary;
        border-bottom: 2px solid light.$color-primary;
      }

      :global(body.dark) & {
        color: dark.$dark-color-primary;
        border-bottom: 2px solid dark.$dark-color-primary;
      }
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    top: 1rem;
    right: 3rem;
  }
}

/* burger */

.burger {
  display: none;
  width: 2rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 11;

  span {
    height: 3px;
    width: 100%;
    transition:
      transform 0.3s,
      opacity 0.3s;

    :global(body.light) & {
      background-color: light.$color-text;
    }

    :global(body.dark) & {
      background-color: dark.$dark-color-text;
    }
  }

  &.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  @media (max-width: 768px) {
    display: flex;
  }
}
