@use "../styles/theme-light" as light; 
@use "../styles/theme-dark" as dark;
@use "../styles/fonts" as fonts;

.heroWrapper {
  display: flex;
  justify-content: center;
  width: 85vw;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
  flex: 1;
  height: 85vh;
  width: 85vw;
  padding: 2rem;

  > div {
    flex: 1;
  }

  @media (max-width: 768px) {
    .abilities {
      flex-direction: column;
    }
  }
}

.headOne {
  font-size: 0.8em;
  @media (min-width: 600px) {
    font-size: 1.5em; 
  }
}

.infoBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

.abilities {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  li {
    padding-left: 0.7rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: light.$color-primary;

      .dark & {
        background-color: dark.$dark-color-primary;
      }
    }
  }
}

/* Фото и фон */
.photoWrapper {
    margin: 0;
    width: 85vw;
    height: 85vh;
    padding: 2rem;
    padding-top: 40vh;
    color: light.$color-background;
    font-size: 5em;
    font-weight: 100;

  overflow: hidden;

  background: linear-gradient(
    270deg,
    light.$color-primary,
    light.$color-secondary,
    light.$color-muted,
    light.$color-heading
  );
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}

/* Текстовые блоки с анимацией */
.droppingTexts {
  position: relative;
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.droppingTexts > div {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  font-weight: 300;
  box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
}

/* Медленнее смена слов */
.droppingTexts > div:nth-child(1) { animation: roll 10s linear infinite 0s; }
.droppingTexts > div:nth-child(2) { animation: roll 10s linear infinite 2s; }
.droppingTexts > div:nth-child(3) { animation: roll 10s linear infinite 4s; }
.droppingTexts > div:nth-child(4) { animation: roll2 10s linear infinite 6s; }

@keyframes roll {
  0% { font-size: 0px; opacity: 0; margin-left: -30px; margin-top: 0px; transform: rotate(-25deg);}
  3% { opacity: 1; transform: rotate(0deg);}
  5% { font-size: inherit; opacity: 1; margin-left: 0; margin-top: 0;}
  20% { font-size: inherit; opacity: 1; margin-left: 0; margin-top: 0; transform: rotate(0deg);}
  27% { font-size: 0px; opacity: 0.5; margin-left: 20px; margin-top: 100px;}
  100% { font-size: 0px; opacity: 0; margin-left: -30px; margin-top: 0; transform: rotate(15deg);}
}

@keyframes roll2 {
  0% { font-size: 0px; opacity: 0; margin-left: -30px; margin-top: 0; transform: rotate(-25deg);}
  3% { opacity: 1; transform: rotate(0deg);}
  5% { font-size: inherit; opacity: 1; margin-left: 0; margin-top: 0;}
  30% { font-size: inherit; opacity: 1; margin-left: 0; margin-top: 0; transform: rotate(0deg);}
  37% { font-size: 1500px; opacity: 0; margin-left: -1000px; margin-top: -800px;}
  100% { font-size: 0px; opacity: 0; margin-left: -30px; margin-top: 0; transform: rotate(15deg);}
}

/* Градиент фона */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Скрытие текста на планшете */
@media (max-width: 1024px) {
  .droppingTexts {
    display: none;
  }
}

/* Скрытие всего блока на телефоне */
@media (max-width: 600px) {
  .photoWrapper {
    display: none;
  }
}