@use '../styles/theme-light' as light;
@use '../styles/theme-dark' as dark;
@use '../styles/fonts' as fonts;


.heroWrapper {
display: flex;
align-items: center;
justify-content: center;
gap: 1.8rem;
 flex-wrap: wrap;
  @media (max-width: 768px) {
    
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
  flex: 1;
  height: 100%;
  min-width: 600px;

  > div {
    flex: 1;
  }
  @media (max-width: 768px) {

    h1{
font-size: 1.9em;
    }
     h3{
  overflow-wrap: break-word;
    }
    .abilities {
      flex-direction: column;
    }
  }
    @media (max-width: 440px) {
font-size: 1rem;
    }
}

.abilities {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

    li {
    padding-left: 0.7rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: light.$color-primary;

      .dark & {
        background-color: dark.$dark-color-primary;
      }
    }
  }
}
