@use '../styles/theme-light' as light;
@use '../styles/theme-dark' as dark;
@use '../styles/fonts' as fonts;

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
  flex: 1;
  height: 100%;

  > div {
    flex: 1;
  }
  @media (max-width: 768px) {
    position: absolute;
    right: 15%;
    width: 70%;
    height: 80%;
    z-index: 998;
    border-radius: 12px;
    padding: 1rem;

    h1{
font-size: 1.9em;
    }
    .abilities {
      flex-direction: column;
    }
  }
    @media (max-width: 440px) {
font-size: 1rem;
    }
}

.abilities {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

    li {
    padding-left: 0.7rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: light.$color-primary;

      .dark & {
        background-color: dark.$dark-color-primary;
      }
    }
  }
}
