@use '../styles/theme-light' as light;
@use '../styles/theme-dark' as dark;
@use '../styles/fonts' as fonts;

.overlay {
  padding: 2rem 3rem;
  border-radius: 2rem;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  max-height: 30%;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;

  /* Light theme */
  body.light & {
    background: rgba(255, 255, 255, 0.7);
  }

  /* Dark theme */
  body.dark & {
    background: rgba(20, 30, 25, 0.7); // можно подобрать тёмный оттенок
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  font-family: fonts.$font-family-base;

  /* Light theme */
  body.light & {
    color: light.$color-text;
  }

  /* Dark theme */
  body.dark & {
    color: dark.$dark-color-text;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}
