@use '../styles/theme-light' as light;
@use '../styles/theme-dark' as dark;
@use '../styles/fonts' as fonts;

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  padding: 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  margin: 2rem 0;
  text-align: center;

  body.light & {
    background-color: light.$color-surface;
  }

  body.dark & {
    background-color: dark.$dark-color-surface;
  }

  h2 {

    font-size: 2.2rem;
    margin-bottom: 1.5rem;

    body.light & {
      color: light.$color-heading;
    }

    body.dark & {
      color: dark.$dark-color-heading;
    }
  }
}

.description {
  max-width: 85%;
  margin: 0 auto 2rem auto;
  text-align: left;

  p {   
    font-size: 1.1rem;
    line-height: 1.1;
    margin-bottom: 1rem;

    body.light & {
      color: light.$color-text;
    }

    body.dark & {
      color: dark.$dark-color-text;
    }
  }
}

.services {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.serviceCard {
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  flex: 0 1 35%;
  text-align: left;

  body.light & {
    background-color: light.$color-accent-light;
  }

:global(body.dark) & {
    background-color: dark.$dark-color-accent-light;
  }

  @media (max-width: 968px) {
    flex: 0 1 100%;
  }

  h3 {
    font-family: fonts.$font-family-heading;
    font-size: 1.2rem;
    margin-bottom: 1rem;

    body.light & {
      color: light.$color-primary;
    }

    body.dark & {
      color: dark.$dark-color-primary;
    }
  }

  p {
    font-family: fonts.$font-family-base;
    font-size: 1rem;
    line-height: 1.1;
    margin-bottom: 1rem;

    body.light & {
      color: light.$color-text;
    }

    body.dark & {
      color: dark.$dark-color-text;
    }
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;

    body.light & {
      color: light.$color-secondary;
    }

    body.dark & {
      color: dark.$dark-color-secondary;
    }
  }
}
