@use './styles/theme-light' as light;
@use './styles/theme-dark' as dark;
@use './styles/fonts' as fonts;

/* базовые стили */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* ---------- LIGHT THEME ---------- */
body.light {
  font-family: fonts.$font-family-base;
  background-color: light.$color-background;
  color: light.$color-text;
}
body.light .content {
  font-family: fonts.$font-family-base;
  background-color: light.$color-background;
  color: light.$color-text;
}

body.light a {
  color: light.$color-primary;
}

body.light .section {
  background-color: light.$color-surface;
}


body.light .button {
  background-color: light.$color-primary;
  color: #fff;

  &:hover {
    background-color: light.$color-primary-dark;
  }
}

/* ---------- DARK THEME ---------- */
body.dark {
  font-family: fonts.$font-family-base; // шрифт одинаковый
  background-color: dark.$dark-color-background;
  color: dark.$dark-color-text;
}
body.dark .content {
  font-family: fonts.$font-family-base; // шрифт одинаковый
  background-color: dark.$dark-color-background;
  color: dark.$dark-color-text;
}

body.dark a {
  color: dark.$dark-color-primary;
}

body.dark section {
  background-color: dark.$dark-color-surface;
}
body.dark .button {
  background-color: dark.$dark-color-primary;
  color: #0E1B15;

  &:hover {
    background-color: dark.$dark-color-primary-dark;
  }
}
